/* common */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
  background:#fff;
}

h1,
h2 {
  margin: 0;
  font-weight: normal;
}

h1 .pc{
  display:block;
}

h1 .sp{
  display:none;
}

p {
  margin: 0;
}

img {
  vertical-align: bottom;
}

.container {
  margin: 0 16px;
  /* outline: 2px solid red; */
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  transition: opacity .3s;
}

a:hover {
  opacity: .5;
}

.animate{
  opacity: 0;
  transform: translateY(40px);
  transition: opacity .5s, transform .5s;
}

.animate.appear{
  opacity: 1;
  transform: none;
}

/*FAQ DTFNTRの説明*/
dl, .desc{
  margin: 32px 0 0 0;
}

dl > div{
  margin-bottom: 8px;
}

dt{
  padding: 8px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

dt::before{
  content: 'Q.';
}

dt::after{
  content: '＋';
  position: absolute;
  top: 8px;
  right: 16px;
  transition: transform .3s;
}

dl > div.open dt::after{
  transform: rotate(45deg);
}

dd{
  padding: 8px;
  margin: 0;
  display: none;
}

dd::before{
  content: 'A.';
}

dl > div.open dd{
  display: block;
  animation: .3s fadeIn;
}

/*ユーザーの声*/
.voices .comment{
  background:#eee;
  padding: 16px;
  border-radius: 16px;
}

.voices .comment + .comment{
  margin-top: 16px;
}

.voices footer{
  display: flex;
  gap:8px;
  align-items: center;
}

.v_footer{
  background: #eee;
}

.v_footer p{
  color: #000;
}

/*トップへ戻るボタン*/
#to_top{
  position: fixed;
  bottom: 16px;
  right: 16px;
  opacity: 0;
}

#to_top.scrolled{
  opacity: 1;
}

#to_top i{
  font-size: 32px;
  color: #22577a;
}

/* header */
header {
  /* background: #eee; */
  padding: 8px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

header form{
  display: none;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
}

header nav li a {
  display: flex;
  flex-direction: column;
  font-size: 12px;
  text-align: center;
}

header li a i {
  font-size: 18px;
}

header li + li {
  margin-left: 8px;
}

header input,
header button{
  all:unset;
}

header input{
  border-bottom: 1px solid #aaa;
  padding: 4px;
  width: 300px;
}

header button{
  cursor: pointer;
}

header.scrolled {
  background-color:rgba(255, 255, 255, .95);
  box-shadow: 0 0 4px rgba(0, 0, 0, .3);
}

/* menu */
.pc-menu{
  display: flex;
  margin-top: 10px;
  width: 100%;
}
.pc-menu li{
  border-right:  rgb(203, 200, 200) 1px solid;
  width: calc(100% / 4);
  text-align: center;
  line-height: 32px;
  margin: 0;
  padding: 0;
}
.pc-menu li:last-child{
  border-right: none;
}
.pc-menu li a{
  font-size: 16px;
  display: block;
}

.overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.95);
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  z-index: 2;
  transition: opacity .6s;
}

.overlay.show{
  opacity: 1;
  pointer-events: auto;
}

.overlay #close{
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 32px;
  cursor: pointer;
}

.overlay li{
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li{
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1){
  transition-delay: .1s;
}

.overlay.show li:nth-child(2){
  transition-delay: .2s;
}

.overlay.show li:nth-child(3){
  transition-delay: .3s;
}

.overlay.show li:nth-child(4){
  transition-delay: .4s;
}

/* hero */
.hero{
  height: 400px;
  padding-top: 104px;
}

.hero img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transition: opacity 1s;
}

.hero img.current{
  opacity: 1;
}

/* products */
.products {
  padding: 80px 0;
  opacity: 0;
  transform: translateY(20px); /*下から*/
  transition: opacity .5s, transform .5s;
}

/* 左から
.products.slide-from-left{
  transform: translateX(-40px);
}
右から
.products.slide-from-right{
  transform: translatex(40px);
} */

.products.appear{
  opacity: 1;
  transform: none;
}

.products ul{
  margin-top: 32px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.products .user{
  margin-top: 32px;
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;
}

.products li{
  width: calc((100% - 16px) / 3);
  /* outline: 2px solid blue; */
}

.products li img {
  width: 100%;
}

.products li h2 {
  font-size: 16px;
  margin-top: 8px;
}

.products li a {
  display: block;
}

.products .more{
  display: block;
  width: 70%;
  line-height: 48px;
  border: 2px solid #333;
  text-align: center;
  margin: 32px auto 0;
}

/* タブメニュー */
.menu{
  display: flex;
  margin-top: 32px;
}

.menu li a{
  width: 100px;
  display: inline-block;
  text-align: center;
  padding: 8px;
  text-decoration: none;
  border-radius: 4px 4px 0 0;
}

.menu li a.active{
  background: #eee;
  pointer-events: none;
}

.content.active{
  background: #eee;
  display: block;
  min-height: 150px;
  padding: 16px;
}

.content{
  display: none;
  border-radius: 0 0 4px 4px;
  margin-bottom: 32px;
}

/*footer*/
footer{
  background: #e1dbd9;
  padding: 16px 0;
  color: #4c4948;
}

footer .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

foote small{
  font-size: 16px;
}

footer li i{
  font-size: 24px;
}

footer ul{
  display: flex;
  margin-right: 40px;
}

footer li + li{
  margin-left: 8px;
}

/* Dark Mode */
@media(prefers-color-scheme:dark){
  body,footer,header.scrolled,.container,.overlay{
    color: #fff;
    background: #000;
  }
  .comment{
    color: #000;
  }

  h1 .pc{
    display: none;
  }

  h1 .sp{
    display:block;
  }

  .user .comment{
    background: #000;
    border: #fff 2px solid;
  }
  
  .user p{
    color: #fff;
  }

  .v_footer{
    background: #000;
  }

  #to_top i{
    color: #fff;
  }
}

/*small screen*/
@media(max-width:599px){
  .sp-menu i{
    font-size: 32px;
  }

  .sp-menu #open.hide{
    color: #fff;
    }

  .hero{
    padding-top: 64px;
  }

  .pc-menu{
    display: none;
  }

  .products {
    padding: 24px 0;
  }
  
  .products li {
    width: calc((100% - 16px) / 2);
  }

  .voices .comment{
    margin-top: 0;
    margin-bottom: 16px;
  }

  .voices .user{
    display: block;
  }
}

/*mideum screen*/
@media(min-width:600px){
  /* body{
    background: pink;
  } */
  
  .sp-menu{
    display: none;
  }

  .products {
    padding: 40px 0;
  }
  
  .products li,.products .comment {
    width: calc((100% - 32px) / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .voices .comment + .comment{
    margin-top: 0;
  }
}

/*large screen*/
@media(min-width:800px){
  /* body{
    background: skyblue;
  } */

  header form{
    display:block;
  }

  .container{
    width: calc(100% - 32px);
    margin: 0 auto;
    max-width: 800px;
  }

  .animate.delay {
    transition-delay: .3s;
  }

  .animate.delay-more {
    transition-delay: .6s;
  }
}

@keyframes fadeIn{
  0%{
    opacity: 0;
    transform: translateY(-10px);
  }

  100%{
    opacity: 1;
    transform: none;
  }
}